<nav class="navbar bg bg-dark text-light">
  <a class="navbar-brand"> 
    Qure Team
  </a>
 
  <div>
    <form class="form-inline " action="#">
        <input class="form-control-s mt-3 mr-2 mb-2" type="email" name="email" placeholder=" Email address ">
        <input class="form-control-s mt-3 mr-2 mb-2" type="password" name="password" placeholder=" password ">
        <button class="btn btn-sm bg-secondary text-light mt-3 mb-2"  type="submit">Sign In</button>
    </form>

    <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"> Remember me
        </label>
    </div>
  </div>
</nav>