<div class ="component text-expand-sm text-center " >

    <h1 class="display-4 mb-5"> QURE Team</h1>

    <form class="form-group" role="form" action="#">
        <div class="row">
            <span class="col-sm-4"> </span>
            <label for="email" class="col-sm-1 mb-4"> Email: </label>
            <input type="text" #u1 name="email" id="email" class="form-control col-sm-3"> 
        </div>
       
        <div class="row">
            <span class="col-sm-4"> </span>
            <label for="pwd" class="col-sm-1 mb-5"> Password: </label>
            <input type="password" #p2 name="password" id="pwd" class="form-control col-sm-3">
        </div>

        <button class="btn btn-dark text-light "  type="submit"
               (click)="check(u1.value, p2.value)">Sign In
        </button>

    </form>

</div>
